h2{
    background-color: blueviolet;background: -moz-radial-gradient();font-size: larger;font-size: smaller;
}
h4{
    background-color: blueviolet;background: -moz-repeating-radial-gradient();background-color: blue;font-size: x-small;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}