
#link{
    height: 320px;
    width: 1364px;
    border: 2px solid;
    margin: auto;
    margin-top: 50px;
    background-color: black;
    color: white;
   
  
  }
  
  .link1{
    height: 150px;
    width: 1134px;
    /* border: 2px solid yellow; */
    margin: auto;
    margin-top: 50px;
    
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    
  }
  
  
  .a{
    height: 150px;
    width: 300px;
    /* border: 2px solid white; */
    
  }
  
  .b{
    height: 150px;
    width: 300px;
    /* border: 2px solid white; */
    
  
  }
  
  .c{
    height: 150px;
    width: 500px;
    /* border: 2px solid white; */
    background-color: black;
    
  }
  
  .a ul li {
    list-style: none;
    margin-top: 20px;
   
  
  }
  
  .b ul li {
    list-style: none;
    margin-top: 20px;
  
  }
  
  
  .c ul li {
    list-style: none;
    margin-top: 20px;
    
    
  }
  
  
  .a ul li a{
    color: red;
  text-decoration: none;
  
  }
  
  .b ul li a{
    color: red;
    text-decoration: none;
  
  }
  
  
  .c ul li a{
    color: red;
    text-decoration: none;
    
  }
  
  
  .de{
    height: 40px;
    width: 1134px;
    margin: auto;
    
    /* border: 2px solid; */
    margin-top: 90px;
    
  }
  
  
  .nethaji{
    height: 40px;
    width: 100px;
    
    
  }

  @media (max-width:768px) {
    *{
      margin: 0;
      padding: 0;
    }
    #link{
      width: 100%;
      height: 100%;
      margin: auto;
      
      
    }

    .link1, .a, .b, .c{
      width: 100%;
      height: 100%;
      margin: auto;
      display: block;
      text-align: center;
      
    }
   
    .nethaji{
      width: 100%;
    }

    
  }

  @media (max-width:425px) {
    *{
      margin: 0;
      padding: 0;
    }
    #link{
      width: 100%;
       }

       .link1{
        text-align: center;
      
             }

    .de{
      width: 100%;
      height: 100%;
    
    }

    .nethaji{
      width: 100%;
    }
  }
  
  
  
  
  