* {
  margin: 0;
  padding: 0;
}




#google {
  width: 1364px;
  height: 280px;
  /* border: 2px solid; */
  margin: auto;
  text-align: center;

}



.app {
  height: 200px;
  width: 700px;
  border: 2px solid;
  margin: auto;
  margin-top: 50px;

}

.app h2 {
  font-size: 30px;
  text-align: center;
  /* margin-top: 150px; */
}

.app p {
  margin-top: 30px;
  text-align: center;
}


.black {
  height: 50px;
  width: 200px;
  /* border: 2px solid black; */
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;



}

.white {
  height: 50px;
  width: 200px;
  color: white;
  /* border: 2px solid black; */
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: black;


}


.red {
  width: 450px;
  height: 50px;
  /* border: 2px solid; */
  margin-top: 50px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin-top: 40px;
}

@media (max-width:768px) {

  #google h2 {
    margin-top: 50px;
  }

  #google {
    width: 100%;
    height: 100%;
    margin: auto;

  }

  .red {
    margin-bottom: 50px;
  }




}

@media (max-width:425px) {
  #google h2 {
    margin-top: 50px;
  }

  .red {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;


  }

  .black {
    text-align: center;
    float: none;
    margin: auto;
    margin-top: 20px;
  }

  .white {
    text-align: center;
    float: none;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }



}

@media (min-width:769) {
  #google h2 {
    width: 100%;
    height: 100%;
    margin-top: 50px;

  }
}