*{
    margin: 0;
    padding: 0;

}
#header{
    background-color: aqua;
    padding: 20px;
    

}
#header1{
    margin: auto;
    width: 960px;
    display: grid;
    grid-template-columns: auto auto;
}
#header2{
    margin-top: 10px;
    width: 300px;
    border: 2px solid;
}

#header3{
    border: 2px solid;
    /* padding: 10px; */
}
#header3 ul li{
    display: inline;
    padding: 15px;
    
    
    
}
#header3 ul{
    /* margin-right: 10px; */
    /* margin-top: 10px; */
    width:600px
}



